@charset "utf-8";
/* 초기화*/
body, h1, h2, ul { margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
ul, li {list-style: none; }
a { text-decoration: #000; color: #575757; }
address { font-style: normal; }
small { font-size: 1em; }
hr { display: none; }
.hidden { position: absolute; left: -9999px; }
/* 헤더 */
#header { width: 100%; height: 100px; 
          background: #cdd499;
          border-bottom: 5px solid #000; }
#header h1 { position: absolute; top: 30px; left: 50px; }
#header h1 a { }
/* membership */
#membership { position: absolute; top: 35px; right: 50px;}
/* gnb */
#gnb{ display:none;}
/* event */
#event { width: 100%; height: 500px; 
         background: #626262;
         display: flex; 
         }
         #event h2{ color:#fff; font-size: 10vw; }
         #event p { margin: 20px 0 70px; color: #fff; font-size: 100px;}
         #event a { display:block;
                    width: 200px; height: 30px;
                    border: 1px solid #fff; color: #fff;
                }
        #event a:hover { background: #fff; color: #000;}
/* 본문 */
main{ display: flex; flex-wrap: wrap; width: 1200px; }
main > section { background:gray; }
#content1 { background: #fed543; }
#content2 { background: #08cc33; }
#content3 { background: red; }
#content4 { background: blue;}
/* 푸터 */
#footer { width: 100%; padding: 50px 0;
         background: #414141; color: #fff; }
         /* 1200이상 */
         @media all and( max-width: 1200px ) {
            main { width: 25%; }
            event h2 { font-size: 10vw; }
            event p { font-size: 2vw; }
    
         }
         /* 1200 미만 */
         @media all and( max-width: 1199px ) {
            main { width: 25%; }
         }
            /* 800 이하 */
         @media all and ( max-width: 800px) {
            .gnbView { display: block; width: 100px; height: 50px;
                       border: 1px solid#000; }
                       #gnb { display: none; 
                    }
            main > section { width: 50%; }
         }
         /* 600 이하 */
         @media all and (max-width: 600px) {
            main > section { width: 100%; }
         }
         